{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="flex flex-col h-screen w-screen font-poppins">
        {% include '_shared/_includes/navbar.html.twig' %}
        <div class="content flex flex-col gap-10 h-full px-16 py-10 overflow-y-scroll">
            {% include 'dashboard/_includes/author-swiper.html.twig' %}
            {% if app.user %}
                {% include 'dashboard/_includes/post-swiper.html.twig' with { 'section_title': 'your posts', 'posts': userPosts } %}
                {% include 'dashboard/_includes/post-swiper.html.twig' with { 'section_title': 'liked' , 'posts': likedPosts} %}
            {% endif %}
            {% include 'dashboard/_includes/post-swiper.html.twig' with { 'section_title': 'trending', 'posts': trendingPosts } %}
        </div>
        <div class="flex justify-center w-screen bg-gray-500">
        </div>
    </div>
{% endblock %}
