<nav class="flex items-center justify-center w-full h-16 px-24 py-12 bg-white">
    <div class="flex flex-grow items-center gap-10 tracking-widest">
        <div class="w-8 h-8 bg-royal-blue rounded-full"></div>
        <p class="font-bold text-lg">CoBlogger</p>
        <a href="#" class="border-black hover:border-b-2">Features</a>
        <a href="#" class="border-black hover:border-b-2">Pricing</a>
        <a href="#" class="border-black hover:border-b-2">About us</a>
    </div>
    <div class="flex items-center gap-5">
        <a href="/login" class="tracking-widest border-black hover:border-b-2">LOG IN</a>
        <a href="/register" class="bg-royal-blue text-white px-6 py-3 rounded hover:bg-royal-blue-400">Sign up</a>
    </div>
</nav>